.input-container {
  border: 1px solid black;
  width: 80%;
  height: fit-content;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #265073;
}

.taskname {
  width: 12rem;
  height: 1rem;
  border-radius: 20px;
  padding: 0.2em;
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
}
